.flex {
    display: flex;
    flex-wrap: wrap;
}

.container {
    max-width: 73.125em;
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.onhoverGreen {
    @include hover {
        // @extend %hover;
        color: $hover-green;
        cursor: pointer;
    }
}

svg {
    cursor: pointer;
}

hr {
    // border: 1px solid #9E9E9E;
    opacity: 20%;
    margin: 0;
    padding: 0;


}

li {
    list-style: none;
}

ul {

    display: flex;
    padding: 0;
    margin: 10px 0 6px 0;

}